.navbar {
  background: #393e46;
  width: 100vw;
}

.navText {
  color: white;
}

.login {
  font-size: 1.2rem;
  color: white;
}

.NavCsi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 47%;
  margin-left: 2rem;
}
