body {
  background: #000;
}

.preloader-1 {
  margin: 100px auto 0;
  width: 66px;
  height: 12px;
}

.preloader-2 {
  margin: 120px auto 0;
}

div {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
}

.preloader-1 .line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  -webkit-animation: opacity-1 1000ms infinite ease-in-out;
          animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-2 .line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  -webkit-animation: opacity-2 1000ms infinite ease-in-out;
          animation: opacity-2 1000ms infinite ease-in-out;
}

.preloader-1 .line-1,
.preloader-2 .line-1 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.preloader-1 .line-2,
.preloader-2 .line-2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.preloader-1 .line-3,
.preloader-2 .line-3 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.preloader-1 .line-4,
.preloader-2 .line-4 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.preloader-1 .line-6,
.preloader-2 .line-6 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.preloader-1 .line-7,
.preloader-2 .line-7 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.preloader-1 .line-8,
.preloader-2 .line-8 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.preloader-1 .line-9,
.preloader-2 .line-9 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

@-webkit-keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-2 {
  0% {
    opacity: 1;
    height: 15px;
  }
  50% {
    opacity: 0;
    height: 12px;
  }
  100% {
    opacity: 1;
    height: 15px;
  }
}

@keyframes opacity-2 {
  0% {
    opacity: 1;
    height: 15px;
  }
  50% {
    opacity: 0;
    height: 12px;
  }
  100% {
    opacity: 1;
    height: 15px;
  }
}

.image {
  margin-top: 2rem;
  margin-bottom: -5rem;
  -webkit-animation: rotate 3s infinite;
          animation: rotate 3s infinite;
}

.imagin {
  height: 170px;
  width: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .imagin {
    -webkit-animation: App-logo-spin infinite 2s linear;
            animation: App-logo-spin infinite 2s linear;
  }
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6rem;
}
/*# sourceMappingURL=preloader.css.map */